body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

textarea,
input,
button {
  outline: none !important;
}

.margin-5 {
  min-width: 200px;
  margin: 5px;
  min-height: 100px;
  padding: 0;
}
.favSpan {
  float: left;
  position: relative;
  top: 5px;
  left: 6px;
  width: 0;
  height: 0;
}
.downSpan {
  float: right;
  position: relative;
  bottom: -5px;
  right: 26px;
  width: 0;
  height: 0;
}
